body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.list{
  background-color: #312c16;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  
}
.test{
  align-items: center;
  background-color: #ff4e6f;
  font-size: larger;
 font-family: 'Courier New', Courier, monospace;
 margin: 20px;
 padding: 10px;
font-weight: 700;
border: 5px solid #ffb083;
border-radius: 10px;
}

